In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#drinks = pd.read_csv(r'C:\Users\btam\Documents\Python_Folder\DAT-06-24\class material\Unit 2\data\drinks.csv')
#drinks.head(3)

In [2]:
#drinks.rename(columns={'beer_servings':'beer','wine_servings':'wine'})

In [6]:
drinks_cols={'country','beer','spirits','wine','liters','continent'}
drinks = pd.read_csv('C:\\Users\\btam\\Documents\\Python_Folder\\DAT-06-24\\class material\\Unit 2\\data\\drinks.csv', header=0,names=drinks_cols)
drinks.head(3)

     continent  wine  spirits  liters  beer country
0  Afghanistan     0        0       0   0.0      AS
1      Albania    89      132      54   4.9      EU
2      Algeria    25        0      14   0.7      AF

In [5]:
#drinks.drop('beer',axis=1)