In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use("fivethirtyeight")

df = pd.read_csv(r'bikeshare.csv', index_col='datetime', parse_dates=True)

In [3]:
weather_map = {
    'Clear Skies':       4,
    'Partly Cloudy':     3,
    'Light Storms/Rain': 2,
    'Heavy Storms/Rain': 1
}

df.weather = df.weather.map(weather_map)

In [4]:
df.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count
datetime,,,,,,,,,
2011-01-01 00:00:00,Spring,0,0,4,9.84,14.395,81,0.0,16
2011-01-01 01:00:00,Spring,0,0,4,9.02,13.635,80,0.0,40
2011-01-01 02:00:00,Spring,0,0,4,9.02,13.635,80,0.0,32
2011-01-01 03:00:00,Spring,0,0,4,9.84,14.395,75,0.0,13
2011-01-01 04:00:00,Spring,0,0,4,9.84,14.395,75,0.0,1

In [5]:
pd.get_dummies(df.season).head()

                     Fall  Spring  Summer  Winter
datetime
2011-01-01 00:00:00     0       1       0       0
2011-01-01 01:00:00     0       1       0       0
2011-01-01 02:00:00     0       1       0       0
2011-01-01 03:00:00     0       1       0       0
2011-01-01 04:00:00     0       1       0       0

In [6]:
pd.get_dummies(df.season, drop_first=True).head()

                     Spring  Summer  Winter
datetime
2011-01-01 00:00:00       1       0       0
2011-01-01 01:00:00       1       0       0
2011-01-01 02:00:00       1       0       0
2011-01-01 03:00:00       1       0       0
2011-01-01 04:00:00       1       0       0

In [7]:
df = pd.get_dummies(df,drop_first=True)
df.head()

,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,season_Spring,season_Summer,season_Winter
datetime,,,,,,,,,,,
2011-01-01 00:00:00,0,0,4,9.84,14.395,81,0.0,16,1,0,0
2011-01-01 01:00:00,0,0,4,9.02,13.635,80,0.0,40,1,0,0
2011-01-01 02:00:00,0,0,4,9.02,13.635,80,0.0,32,1,0,0
2011-01-01 03:00:00,0,0,4,9.84,14.395,75,0.0,13,1,0,0
2011-01-01 04:00:00,0,0,4,9.84,14.395,75,0.0,1,1,0,0

In [17]:
from sklearn.linear_model import LinearRegression
x = df.loc[:,df.columns !='count']
y = df['count']

x_std = (x - x.mean())/x.std()

lr = LinearRegression()
lr.fit(x_std, y)
lr.score(x_std,y)

0.2752503232099429

In [25]:
num_cols =x.select_dtypes(include=np.number).columns.tolist()
x[num_cols]=(x[num_cols]-x[num_cols].mean()) / x.std()
lr = LinearRegression()
lr.fit(x, y)
lr.score(x,y)

C:\Users\night\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

0.2752503232099429

In [27]:
import statsmodels.api as sm

mod =sm.OLS(y, x)
results = mod.fit()
print(results.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  count   R-squared (uncentered):                   0.130
Model:                            OLS   Adj. R-squared (uncentered):              0.129
Method:                 Least Squares   F-statistic:                              162.4
Date:                Wed, 31 Jul 2019   Prob (F-statistic):                   2.16e-319
Time:                        19:48:34   Log-Likelihood:                         -75374.
No. Observations:               10886   AIC:                                  1.508e+05
Df Residuals:                   10876   BIC:                                  1.508e+05
Df Model:                          10
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
holiday          -1.4378      2.440     -0.589      0.556      -6.221       3.345
workingday       -1.3339      2.442     -0.546      0.585      -6.122       3.454
weather          -1.6807      2.632     -0.638      0.523      -6.841       3.479
temp             62.0383     14.994      4.138      0.000      32.648      91.429
atemp            24.6523     14.312      1.723      0.085      -3.401      52.706
humidity        -54.2577      2.873    -18.884      0.000     -59.890     -48.626
windspeed         4.4200      2.588      1.708      0.088      -0.652       9.492
season_Spring    16.2842      4.749      3.429      0.001       6.975      25.593
season_Summer    15.1685      3.261      4.651      0.000       8.776      21.561
season_Winter    44.6614      3.981     11.218      0.000      36.858      52.465
==============================================================================
Omnibus:                     2163.125   Durbin-Watson:                   0.173
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             4234.270
Skew:                           1.205   Prob(JB):                         0.00
Kurtosis:                       4.877   Cond. No.                         14.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [2]:
df2 = pd.read_csv(r'sac_re_cat.csv',index_col='sale_date')

In [38]:
df2.head()

,street,city,zip,state,beds,baths,sq__ft,type,price
sale_date,,,,,,,,,
Wed May 21 00:00:00 EDT 2008,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,59222
Wed May 21 00:00:00 EDT 2008,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,68212
Wed May 21 00:00:00 EDT 2008,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,68880
Wed May 21 00:00:00 EDT 2008,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,69307
Wed May 21 00:00:00 EDT 2008,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,81900

In [48]:
#from sklearn.linear_model import LinearRegression
#lreg=LinearRegression()
#X=df2.loc[:,df2.columns !='price']
#y=df2['price']
#lreg.fit(X,y)

In [50]:
df2.zip=df2.zip.astype('category')
transformed = df2.groupby('zip').zip.transform('count')
df2['zip']=np.where(transformed <25,'Other',df2['zip'])

In [51]:
df2['zip'].value_counts()

Other    558
95648     72
95823     61
95828     45
95758     44
95835     37
95838     37
95757     36
95624     34
95843     33
95621     28
Name: zip, dtype: int64

In [55]:
pd.get_dummies(df2.state).head()

                              AC  CA
sale_date
Wed May 21 00:00:00 EDT 2008   0   1
Wed May 21 00:00:00 EDT 2008   0   1
Wed May 21 00:00:00 EDT 2008   0   1
Wed May 21 00:00:00 EDT 2008   0   1
Wed May 21 00:00:00 EDT 2008   0   1

In [5]:
from sklearn.linear_model import LinearRegression
lreg=LinearRegression()
z=df2.loc[:,['beds','baths','sq__ft','zip']]
q=df2['price']
num_cols_z= z.select_dtypes(include=np.number).columns.tolist()
z[num_cols_z]=(z[num_cols_z]-z[num_cols_z].mean())/z[num_cols_z].std()
lreg.fit(z,q)
lreg.score(z,q)

0.19945730163613828

In [11]:
df2['prediction']=lreg.predict(z)

In [17]:
mae = np.mean(np.abs(df2['price']-df2['prediction']))
mae

92243.57761223849

In [18]:
mse = np.mean((df2['price']-df2['prediction'])**2)
mse

15471335611.061426