### Pandas Lab - Finding, Querying, Creating Data

In [2]:
import numpy as np
import pandas as pd
df = pd.read_csv(r'C:\Users\btam\Documents\Python_Folder\DAT-06-24\class material\Unit 2\data\titanic.csv')

In [3]:
df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

### Section 1: Selecting Data

Complete the following prompts, and compare your results with the answers to confirm that you did the operation properly.

**1).** Find the average age of all passengers on board.  The answer will be 29.7

In [7]:
# Your Code Here
df['Age'].mean()

29.69911764705882

**2).** Find the median value of the 'Fare' and 'SibSp' columns.  The answer will be 14.45 and 0.00, respectively.

In [12]:
# Your Code Here
df[['Fare','SibSp']].median()

Fare     14.4542
SibSp     0.0000
dtype: float64

**3).** 2 but the first 100 rows

In [14]:
# Your Code Here
df[['Fare','SibSp']][:100].mean()

Fare     29.517625
SibSp     0.730000
dtype: float64

**4).** Using the .iloc command, grab the modal value of the last 4 columns in the dataset.  The result should be a 3x3 dataframe that has the values 1601, 8.05, B96 B98, and S in the first row.

In [24]:
# Your Code Here
df.iloc[:,-4:].mode()

     Ticket  Fare        Cabin Embarked
0      1601  8.05      B96 B98        S
1    347082   NaN  C23 C25 C27      NaN
2  CA. 2343   NaN           G6      NaN

**5).** Using the .iloc command, grab the mean value of the first 250 rows of the first 3 columns in the dataset.  The answer should be:
    - Passengerid: 125.5
    - Survived: 0.344
    - Pclass: 2.416

In [26]:
# Your Code Here
df.iloc[:250,:3].mean()

PassengerId    125.500
Survived         0.344
Pclass           2.416
dtype: float64

### Section 2: Querying Data

**1).** How many females were on board the Titanic? Men? The answers should be 314, 577

In [32]:
# Your Code Here
df[(df.Sex == 'female')].shape[0]

314

In [33]:
df[df.Sex == 'male'].shape[0]

577

**2).** What was the survival rate for females on the Titanic? The answer should be 0.74

In [44]:
# Your Code Here
df[(df.Sex == 'female')]['Survived'].mean()

0.7420382165605095

**3).** What was the survival rate for Males? The answer should be 0.19

In [45]:
# Your Code Here
df[(df.Sex == 'male')]['Survived'].mean()

0.18890814558058924

**4).** What was the survival rate for passengers in either Pclass 1 or Pclass 2?  The answer should be 0.55

In [46]:
# Your Code Here
df[((df.Pclass == 1) | (df.Pclass == 2))]['Survived'].mean()

0.5575

**5).** What was the survival rate if you were female and had at least 1 sibling on board? The answer should be 0.686.

In [47]:
# Your Code Here
df[(df.Sex == 'female')&(df.SibSp > 0)]['Survived'].mean()

0.6857142857142857

### Section 3: Creating New Data

**1).** Create a column called 'Is_Alone' that's either True or False, depending on whether or not the column 'Family_Size' is > 0 or not.

In [18]:
# Your Code Here
df['Family_Size'] = df.SibSp + df.Parch
df['Is Alone'] = np.where(df['Family_Size'] < 1,True,False )
df['Is Alone'].value_counts()

True     537
False    354
Name: Is Alone, dtype: int64

**2).** Create a column called 'Demographic' that breaks people up into the following categories:
 - Below 8 years old: 'Child'
 - 8 - 21 years old: 'Adolescent'
 - 22 - 55 years old: 'Adult'
 - 55+: 'Senior'
 
When you're finished, use the method .value_counts() to confirm each section has the following count values:
 - Child: 49
 - Adolescent: 154
 - Adult: 470
 - Senior: 40

In [21]:
# Your Code Here

df['Demographic'] = pd.cut(df['Age'],bins=[0,7,21,55,1000],labels=['Child','Adolescent','Adult','Senior'])
df['Demographic'].value_counts()

Adult         470
Adolescent    154
Child          50
Senior         40
Name: Demographic, dtype: int64

**3).** Create a column called 'Gender_Status' that returns the following values:

 - 'F-High' if passenger is female and passenger class is 1.
 - 'F-Low' if passenger is female and passenger class is 2 or 3
 - 'M-High' if passenger is male and passenger class is 1
 - 'M-Low' if passenger is male and passenger class is 2 or 3
 
When you are finished, use .value_counts() to confirm you have the following count values for each of the following:
 - 'M-Low': 455
 - 'F-Low': 220
 - 'M-High': 122
 - 'F-High': 94

In [22]:
conditions = [
    (df.Sex == 'female') & (df.Pclass == 1),
    (df.Sex == 'female') & ((df.Pclass == 2) | (df.Pclass == 3)),
    (df.Sex == 'male') & (df.Pclass == 1),
    (df.Sex == 'male') & ((df.Pclass == 2) | (df.Pclass == 3))
]

results = [
    'F-High',
    'F-Low',
    'M-High',
    'M-Low'
]

%timeit df['Gender_Status'] = np.select(conditions, results, 'Other')
df['Gender_Status'].value_counts()

424 µs ± 35.9 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

M-Low     455
F-Low     220
M-High    122
F-High     94
Name: Gender_Status, dtype: int64

**4).** Using string methods, extract the *greeting* of the persons name on board.  Ie, if someone's name is 'Ms. Madame Bovary', create a column that contains the value 'Ms.' and nothing else.

**Hint:** Take a look at the split() method and see what it does if you're not sure where to go.

In [23]:
df['Greeting'] = df['Name'].str.split().str[1]
df['Greeting'].head()
df['Greeting'].value_counts()

Mr.             502
Miss.           179
Mrs.            121
Master.          40
Dr.               7
Rev.              6
y                 4
Impe,             3
Planke,           3
Col.              2
Gordon,           2
Major.            2
Mlle.             2
Don.              1
Steen,            1
Velde,            1
Walle,            1
Melkebeke,        1
the               1
Shawah,           1
Mulder,           1
Mme.              1
Jonkheer.         1
Messemaeker,      1
Ms.               1
Pelsmaeker,       1
Capt.             1
der               1
Billiard,         1
Carlo,            1
Cruyssen,         1
Name: Greeting, dtype: int64