In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv
from collections import namedtuple   # Convenient to store the data rows

df = pd.read_csv(r'F:\Nighteagle_Stuff\Python\Gitdl\DAT-06-24\projects\required\project-eda-options\data\chipotle.tsv',delimiter='\t',encoding='utf-8')

In [3]:
df['item_price'].str.replace('$','',regex=True)
df.head(3)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39

In [4]:
df['item_price'].describe()

count       4622
unique        78
top       $8.75
freq         730
Name: item_price, dtype: object

In [ ]:
actor_list_star = []
for index, rows in df.iterrows():
    my_list = [rows.Actor_1, rows.star_rating,rows.duration,rows.genre,rows.title]
    actor_list_star.append(my_list)
for index, rows in df.iterrows():
    my_list = [rows.Actor_2, rows.star_rating,rows.duration,rows.genre,rows.title]
    actor_list_star.append(my_list)
for index, rows in df.iterrows():
    my_list = [rows.Actor_3, rows.star_rating,rows.duration,rows.genre,rows.title]
    actor_list_star.append(my_list)

In [ ]:
actors_list = []
for i in df['actors_list']:
    actors_list.append([e.strip() for e in i.split(',')])
actor_dict = {}

for actor in actors_list:
    for a in actor:
        if a in actor_dict:
            actor_dict[a] +=1
        else:
            actor_dict[a] = 1
actor_dict